.u-section-1 .u-sheet-1 {
  min-height: 536px;
}

.u-section-1 .u-image-1 {
  width: 452px;
  height: 281px;
  margin: 43px auto 0 130px;
}

.u-section-1 .u-image-2 {
  width: 529px;
  height: 299px;
  margin: -123px 127px 36px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-2 {
    width: 494px;
    height: 279px;
    margin-top: -65px;
    margin-right: 17px;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 420px;
    height: 261px;
    margin-top: 17px;
    margin-left: -22px;
  }

  .u-section-1 .u-image-2 {
    width: 453px;
    height: 256px;
    margin-top: -14px;
    margin-right: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-image-1 {
    width: 273px;
    height: 187px;
    margin-top: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 295px;
    height: 175px;
    margin-top: -13px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}